<div class="row">
	<div class="col-lg-12">
		<div class="centered-text">

			<h4>Yay Flashcards!</h4>
			<p>Click on the kana to hear the pronounciation.</p>
			<p>If you guessed correctly, click on the <span class="label label-success">Next Card</span> button to go to the next card. If you need to review the card again, click on the <span class="label label-warning">Review Later</span> button; this will add the card to the "Review Deck", which can be studied <a href="#/review">here</a>.</p>

			<br /><br />
			<div ng-show="maxNumOfCards <= 0">
				<p>No deck has been created yet. Click <a href="#/">here</a> to start!</p>
			</div>

			<div ng-show="maxNumOfCards" ng-if="done === false" ng-repeat="kana in cardsList">
					<div ng-if="cardsIndex == $index">
						<p>Progress: {{ cardsIndex + 1 }} / {{ maxNumOfCards }}</p>
						<card kana="kana"></card>
						<br />
						<button type="button" class="btn btn-warning" ng-click="reviewLater(kana)">Review Later</button>
						<button type="button" class="btn btn-success" ng-click="nextCard()">Next Card</button>
					</div>
			</div>

			<div ng-if="done === true">
				<p>Finished with this deck! Click <a href="#/">here</a> to create a new set of decks or go <a href="#/review">review</a>!</p>
			</div>

		</div>
	</div>
</div>