<div class="row">
	<div class="col-lg-12">
		<div class="centered-text">


			<h4>Flashcard Settings</h4>

			<div class="options-form">
				<form name="optionsForm" ng-submit="submit()">

					<div class="form-group kana-options">
						<div ng-repeat="option in kanaChoice.options">
							<input type="radio" ng-model="kanaChoice.selected" value="{{ option }}" name="kanaChoice" required /> {{ option }} <br />
						</div>
					</div>
					&emsp; &emsp;
					<div class="form-group kana-options">
						<div ng-repeat="option in typeChoice.options">
							<input type="checkbox" ng-model="typeChoice.selected[option]" value="{{ option }}" ng-required="!isChecked" /> {{ option }}<br />
						</div>
					</div>
					<br />
					<p>How many cards to show? The maximum is {{ kanaMult }} x {{ maxNumOfCards }} = {{ kanaMult * maxNumOfCards }}.</p>
					<input type="number" ng-model="numOfCards" /><br /><br />
					<input type="submit" class="btn btn-primary" value="Start" />

				</form>
				<!-- 
				<p>optionsForm.$valid: {{ optionsForm.$valid }}</p>
				<p>{{ typeChoice.selected }}</p>
				-->
			</div>

		
		</div>
	</div>
</div>